<header>
  <div class="container">
    <div class="logo">
      <a href="/">DIGICHAT</a>
      <nav class="logo-nav">
        <a href="/auth/logout" class="a-btn">LOGOUT</a>
        <button id="ham-btn" class="fa-solid fa-bars fa-2x btn btn-i"></button>
      </nav>
    </div>
    <nav>
      <ul>
        <li>
          <a href="/"><i class="fa-solid fa-house"></i> DASHBOARD</a>
        </li>
        <li>
          <a href="/open"><i class="fa-solid fa-comments"></i> OPEN CHAT</a>
        </li>
        <li>
          <a href="/user/setting"><i class="fa-solid fa-gear"></i> SETTINGS</a>
        </li>
        <li><button class="a-btn">Join Group</button></li>
        <li>
          <a href="/auth/logout">LOGOUT</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
