<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="PAPLUCHAT is an online chat application that allows user to chat each other Realtime with no data leak issue. Now, it is so easy to keep in touch with friends and loved ones with this online real time chat app."
    />
    <meta
      name="keywords"
      content="papluchat, realtime chat app, theshanumalik, shanu malik, omeagle, chat, online chat, whatsapp chat groups"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>COMING SOON | PAPLUCHAT</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Exo+2:wght@300&family=Inter:wght@300&family=Josefin+Sans:wght@500&family=Montserrat:wght@300;400&family=Open+Sans&family=Prompt:wght@300&family=Roboto:wght@300&display=swap");
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Baloo Bhai 2", tahoma;
      }
      body {
        display: grid;
        place-items: center;
        height: 100vh;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
          url("https://images.pexels.com/photos/92248/pexels-photo-92248.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-size: cover;
        background-repeat: no-repeat;
      }
      .container {
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        padding: 20px;
      }

      h1 {
        font-size: 2rem;
        font-weight: 500;
        color: #3273dc;
      }
      p {
        font-size: 1.2rem;
        margin: 10px 0;
      }
      .action {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px 20px;
      }
      .action a {
        padding: 6px 20px;
        border-radius: 10px;
        text-decoration: none;
        color: white;
        border: 1.5px solid white;
        width: 150px;
        text-align: center;
        font-weight: 500;
        font-size: 1.2rem;
      }
      @media (max-width: 508px) {
        .container {
          align-items: flex-start;
        }
        .action {
          flex-direction: column;
          width: 100%;
        }
        .action a {
          width: 100%;
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1><i class="fa-solid fa-rocket"></i> COMING SOON</h1>
      <P>
        We are prparing something amazing and exciting for you. For pre
        registration or to know more about the features you can email us.
      </P>
      <div class="action">
        <a href="/" style="background: #3273dc; border: none"
          ><i class="fa-solid fa-house"></i> Home</a
        >
        <a href="mailto:theshanumalik@gmail.com"
          ><i class="fa-solid fa-envelope"></i> Contact</a
        >
      </div>
    </div>
  </body>
</html>
